body {
  /*padding-bottom: 70px;*/
}
.structure_two{
    display: none;
}
.options_news{
  display: flex;
  overflow: auto;
  width: 100%;
  margin: 0px 0 0 0;
  background-color: rgb(48, 48, 49);
}
.option_new{
  display: flex;
  width: fit-content;
  padding: 10px;
}
.option_new li {
  flex: 0 0 auto;
  font-family: 'Poppins';
  font-weight: 600;
  margin: 5px 20px;
  text-transform: uppercase;
  list-style: none;
  font-size: 16px;
  cursor: pointer;
}
.option_new li a {
  color: white;
  text-decoration: none;
}
.option_new .end {
  padding-right:35px;
}
.option_new li a:hover{
  text-decoration: underline;
}
.options_news::-webkit-scrollbar {
  display: none;
}

.news {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 100%;
    height: auto;
    margin: auto;
}
  .principally_new, .first_new, .second_new {
    display: inline-block;
    position: relative;
    width: auto;
    height: 280px;
    cursor: pointer;
    background-color: black;
    margin-bottom: 0px;
  }
  .news img {
    width: 100%;
    height: 100%;
  }
  .principally_new .text_new {
    position: absolute;
    bottom: 15px;
    left: 15px;
    right: 15px;
    color: white;
    font-family: 'Poppins';
    font-weight: bold;
  }
  .principally_new .title {
    padding: 10px;
    font-size: 19px;
    background-color:  rgb(5, 5, 34);
  }
  .principally_new .title:hover{
    text-decoration: underline;
  }
  .principally_new .category_new {
    position: absolute;
    bottom: 100%;
    padding: 7px;
    font-size: 13px;
    text-transform: uppercase;
    background-color:  orangered;
  }
  /* MATCHES */
  .matches{
    display: flex;
    flex-direction: row;
    overflow: scroll;
    overflow-x: auto;
    margin: auto;
    align-items: center;
    width: auto;
    color: white;
    background-color: rgb(5, 5, 34);
  }
  .matches::-webkit-scrollbar {
    display: none;
  }
  .structure_match {
    display: flex;
    flex-direction: column;
  }
  .match{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 120px;
    margin: 15px 15px 15px 15px;
    padding: 0 15px;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
  }
  .tournament{
    width: auto;
    text-align: left;
    font-family: 'Poppins';
    text-transform: uppercase;
    font-size: 14px;
    margin-bottom: 10px;
  }
  
  .match img{
    width: 35px;
    height: 35px;
  }
  .info{
    display: flex;
  }
  .info p{
    font-family: 'Poppins';
    font-size: 15px;
    text-align: center;
    margin: 0 15px;
  }
  
  
  /* MORE NEWS */
  .more_news{
    width: 100%;
    margin: 10px auto 20px auto;
  }
  .category_structure{
    width: 90%;
    margin: auto;
  }
  .new{
    width: 100%;
    display: inline-block;
    position: relative;
    cursor: pointer;
  }
  .new img {
    width: 100%;
    height: 250px;
    margin: 10px 0;
  }
  .new .info_new {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    font-family: 'Poppins';
    font-weight: 600;
    color: white;
  }
  .info_new .category_new {
    position: absolute;
    bottom: 100%;
    text-align: center;
    padding: 5px 8px;
    background-color: orangered;
    font-size: 13px;
    text-transform: uppercase;
  }
  .info_new .title {
    background-color:  rgb(5, 5, 34);
    padding: 10px;
    font-size: 19px;
    cursor: pointer;
  }
  .info_new .title:hover{
    text-decoration: underline;
  }
  .text_structure {
    width: 90%;
    display: flex;
    margin: auto;
    flex-direction: row;
    border-bottom: 2px solid orangered;
    align-items: center;
  }
  .title_structure {
    width: 80%;
    color: rgb(5, 5, 34);
    font-family: 'Poppins';
    text-transform: uppercase;
    font-size: 18px;
  }
  .more {
    width: 20%;
  }
  .more p{
    text-decoration: underline;
    text-align: end;
    text-transform: uppercase;
    font-family: 'Roboto';
    font-size: 13px;
    font-weight: 600;
    cursor: pointer;
  }
  .more p a{
    color: rgb(5, 5, 34);
  }
  
  /* VIDEOS */
  .video {
    margin-top: 10px;
  }
  
  .video iframe {
    width: 100%;
    height: 250px;
  }
  
  /* TABLES */
  .tables {
    width: 90%;
    margin: auto;
  }
  .table {
    display: flex;
    flex-direction: column;
    padding:0px;
    width: auto;
    height: 200px;
    align-items: center;
    text-align: center;
    font-family: 'Poppins';
    background-color: whitesmoke;
    border-radius: 5px;
  }
  .table img {
    display: flex;
    width: 20px;
    height: 20px;
    margin: auto;
  }
  .table th{
    background-color: rgb(5, 5, 34);
    margin-bottom: 10px;
  }
  .table th p {
    margin: 0 10px;
    color: white;
  }
  .table td p {
    margin: 5px 0;
  }
  
  /* MOBILE */
  @media screen and (min-width:450px){
    .principally_new {
      height: 300px;
    }
    .principally_new p, .first_new p, .second_new p {
      padding: 30px;
    }
  }
  @media screen and (min-width:480px){
    .new img {
      height: 310px;
    }
    .info_new .title {
      font-size: 18px;
    }
  }
  @media screen and (min-width:550px){
    .principally_new {
      height: 350px;
    }
    .principally_new p, .first_new p, .second_new p {
      font-size: 22px;
    }
  }
  @media screen and (min-width:580px){
    .new img {
      height: 320px;
    }
  }
  @media screen and (min-width:615px){
    .new img {
      height: 330px;
    }
  }
  @media screen and (min-width:650px){
    .principally_new {
      height: 400px;
    }
    .new img {
      height: 340px;
    }
    .info_new .category {
      width: 25%;
    }
    .info_new .title {
      font-size: 20px;
    }
    .video iframe {
      height: 270px;
    }
  }
  @media screen and (min-width:680px){
    .new img {
      height: 360px;
    }
  }
  @media screen and (min-width:715px){
    .new img {
      height: 370px;
    }
  }
  @media screen and (min-width:750px){
    .principally_new {
      height: 450px;
    }
    .principally_new p, .first_new p, .second_new p {
      font-size: 24px;
    }
  }
  @media screen and (min-width:760px){
    .new img {
      height: 380px;
    }
  }
  @media screen and (min-width:52em){
    .options_news {
      width: 100%;
    }
    .option_new li {
      margin: 5px 40px;
    }
    .option_new .end {
      padding-right:55px;
    }
    .separate {
      margin: 10px;
    }
    .structure_two{
      width: 90%;
      display: block;
      margin-left: 10%;
    }
    .structure_three{
      display: none;
    }
    .news {
      display: grid;
      width: 100%;
      height: auto;
      margin-bottom: 20px;
    }
    .news img {
      width: 100%;
    }
    .principally_new {
      width: 100%;
      height: auto;
    }
    .first .title {
      position: absolute;
    }
    .first .text_new {
      bottom:20%;
      left: 20px;
    }
    .text_new .category_new{
      font-size: 15px;
    }
    .first .title {
      font-size: 23px;
    }
    .info p{
      font-size: 18px;
    }
  
    /* MATCHES */
    .matches{
      display: none;
    }
    /* MORE NEWS */
    .more_news {
      width:100%;
    }
    .news_more{
      width: 100%;
      background-color: rgb(5, 5, 34);
      margin-top: 0px;
    }
    .category_structure {
      width: auto;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 10px;
    }
    .news_more .category_structure{
      grid-gap: 0px;
      padding: 10px;
    }
    .news_more .category_structure .new{
      margin: 10px 10px;
    }
    .news_more .category_structure img{
      margin: 0px;
    }
    .news_more .title {
      background-color: white;
      color: rgb(5, 5, 34);
    }
    .new{
      width: auto;
    }
    .new img{
      height: 250px;
    }
    .info_new .title {
      font-size: 18px;
    }
    .info_new .category {
      width: 50%;
    }
  
    .text_structure {
      width: auto;
    }
    .title_structure {
      font-size: 19px;
    }
    /* videos */
    .videos {
      width: 95%;
      margin: 20px auto;
    }
    .structure_videos {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      margin: 0;
      width: 100%;
      grid-gap: 10px;
    }
    .video {
      width: 100%;
      margin: 10px 0px 0px 0;
    }
  
  }
  @media screen and (min-width:60em){
    .structure_two{
      display: block;
      width: 92%;
      margin-left: 8%;
    }
  }
  @media screen and (min-width:68em){
    .structure_two{
      display: none;
    }
    .structure_three{
      display: block;
      width: 92%;
      margin-left: 8%;
    }
    .news {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      width: 100%;
      height: auto;
    }
    .first {
      grid-column: 1/3;
      margin-bottom: 20px;
    }
    .second {
      grid-column: 1/2;
      height: 300px;
    }
    .three {
      grid-column: 2/3;
      height: 300px;
    }
    .first .text_new{
      bottom: 15%;
      left: 30px;
    }
  }
  @media screen and (min-width: 68em){
    
    .separate {
      margin: 10px;
    }
    .news {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(2, 1fr);
      width: 100%;
      height: auto;

    }
    .principally_new {
      height: 255px;
      margin-bottom: 0px;
    }
    .first {
      height: 510px;
    }
    .first img {
      height: 510px;
    }
    .first .title {
      position: absolute;
      font-size: 23px;
    }
    .first .text_new {
      bottom:24%;
      left: 20px;
    }
    .text_new .category_new{
      font-size: 14px;
    }
    .second .title, .three .title{
      font-size: 19px;
    }
    .first{
      grid-column: 1/3;
      grid-row: 1/3;
    }
    .second{
      grid-column: 3/3;
      grid-row: 1/2;
    }
    .three{
      grid-column: 3/3;
      grid-row: 2/3;
    }
    .category{
      width: 100%;
    }
    .news_more .category_structure{
      grid-gap: 10px;
      padding: 30px;
    }
    .more_news {
      width:100%;
    }
    .news_more{
      width: 100%;
      background-color: rgb(5, 5, 34);
      margin-top: 0px;
    }
    .category_structure {
      width: auto;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 10px;
    }
    .news_more .category_structure{
      grid-gap: 15px;
      padding: 20px;
    }
    .news_more .category_structure .new{
      margin: auto 0px;
    }
    .news_more .category_structure img{
      margin: 0px;
    }
    .news_more .title {
      background-color: white;
      color: rgb(5, 5, 34);
    }
    .new{
      width: auto;
    }
    .new img{
      height: 250px;
    }
    .info_new .title {
      font-size: 19px;
    }
    .info_new .category {
      width: 50%;
      font-size: 17px;
    }
  
    .text_structure {
      width: auto;
    }
    .title_structure {
      font-size: 19px;
    }
    .videos {
      width: 95%;
      margin: 20px auto;
    }
    .structure_videos {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      margin: 0;
      width: 100%;
      grid-gap: 10px;
    }
    .video {
      width: 100%;
      margin: 10px 0px 0px 0;
    }
  }
  @media screen and (min-width:70em){
      
        .first .category_new{
        font-size: 15px;
        }
        .second .category_new, .three .category_new{
        font-size: 14px;
        }
        .first .title {
        font-size: 24px;
        }
        .first .text_new{
          bottom:21%;
        }
        .second .title, .three .title{
        font-size: 21px;
        }
        .second .text_new, .three .text_new{
        bottom:20px;
        }
        .info_new .title {
        font-size: 20px;
        }
        .category .category_new {
        font-size: 14px;
        }
  }
  