.tournament{
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: auto;
}
.texts{
    display: block;
    text-align: center;
    width: 100%;
    margin: 20px auto 0px auto;
}
.title{
    margin-bottom: 0px;
    color: rgb(5, 5, 34);
    font-family: 'Poppins';
    font-size: 22px;
    text-decoration: underline;
    text-transform: uppercase;
    font-weight: bold;
}
.texts .more {
    display: none;
    margin: auto 10px;
    font-family: 'Roboto';
}
.mobile {
    display: flex;
    margin: auto;
    flex-direction: column;
    width: 100%;
}

.match {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 10px auto;
    background-color: rgb(126, 124, 124);
    background-color: rgb(5, 5, 34);
    font-family: 'Roboto';
    font-weight: bold;
    color: white;
    border-radius: 5px;
}

.info {
    display: flex;
    width: auto;
    padding: 10px 15px;
    border-bottom: 2px solid grey;
}
.date {
    display: flex;
    width: 30%;
    flex-direction: column-reverse;
    text-align: right;
}
.tournament {
    display: flex;
    width: 70%;
    font-weight: bold;
    align-items: center;
}
.teams {
    display: flex;
    text-align: center;
    margin: 0px auto;
    padding: 20px;
    align-items: center;
}
.teams img {
    width: 40px;
    height: 40px;
    margin: 0px 15px;
}
.teams p {
    font-size: 17px;
}


@media screen and (min-width: 60em){
    .tournament{
        width: 100%;
    }
    .texts{
        display: flex;
        width: 70%;
        margin: 30px 85px 0px 85px;
    }
    .texts .more {
        display: block;
    }
    .mobile {
        display: flex;
        flex-direction: row;
        overflow: auto;
        width: 70%;
    }
    .mobile::-webkit-scrollbar {
        display: none;
    }
    .match {
        width: auto;
        margin: 20px 25px 20px 0px;
    }
}