.title{
    width: 70%;
    margin: 20px auto;
    margin-bottom: 0px;
    color: rgb(5, 5, 34);
    font-family: 'Poppins';
    font-size: 22px;
    text-decoration: underline;
    text-transform: uppercase;
    font-weight: bold;
}
.mobile {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.match {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: 20px auto;
    background-color: rgb(126, 124, 124);
    background-color: rgb(5, 5, 34);
    font-family: 'Roboto';
    font-weight: bold;
    color: white;
    border-radius: 5px;
}

.info {
    display: flex;
    width: auto;
    padding: 10px 15px;
    border-bottom: 2px solid grey;
}
.date {
    display: flex;
    width: 30%;
    flex-direction: column-reverse;
    text-align: right;
}
.tournament {
    display: flex;
    width: 70%;
    font-weight: bold;
    align-items: center;
}
.teams {
    display: flex;
    text-align: center;
    margin: 0px auto;
    padding: 20px;
    align-items: center;
}
.teams img {
    width: 40px;
    height: 40px;
    margin: 0px 15px;
}
.teams p {
    font-size: 17px;
}
