.filter {
    display: flex;
    width: 100%;
    margin: 15px 0 0px 0;
}
.filter select {
    display: flex;
    width: 75%;
    padding: 10px;
    margin: auto;
}

.tournament{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: auto;
    padding-bottom: 20px;
}
.liga_profesional{
    display: none;
}
.copa_argentina {
    display: none;
}
.texts{
    display: flex;
    width: 75%;
    margin: 20px auto 5px auto;
    border-bottom: 1px solid black;
}
.title{
    color: rgb(5, 5, 34);
    font-family: 'Poppins';
    font-size: 19px;
    text-transform: uppercase;
    font-weight: bold;
}
.mobile {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 80%;
}

.match {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 10px auto;
    font-family: 'Roboto';
    font-weight: bold;
    color: rgb(5, 5, 34);
}

.mobile::-webkit-scrollbar {
    display: none;
}
.info {
    display: flex;
    width: 100%;
    margin: auto;
    margin-bottom: 5px;
    font-size: 15px;
}
.date {
    display: flex;
    width: 30%;
    flex-direction: column-reverse;
    text-align: right;
}
.instance {
    display: flex;
    width: 70%;
    font-weight: bold;
    align-items: center;
}
.teams {
    display: flex;
    width: 94%;
    background-color: rgb(197, 197, 197);
    border: 1px solid rgb(227, 227, 227);
    border-radius: 5px;
    padding: 3%;
    margin: auto;
}
.teams img {
    width: 20px;
    height: 20px;
    margin: 0 10px;
}
.team_1, .team_2{
    display: flex;
    margin: auto;
    width: auto;
}
.team_1{
    padding-right: 10px;
    border-right: 1px solid gray;
}
.team_2{
    padding-left: 10px;
    border-left: 1px solid gray;
}

.teams p {
    font-size: 17px;
}
.teams .time {
    font-size: 16px;
    margin: 0 5px;
}

@media screen and (min-width: 60em){
    .filter select {
        display: flex;
        width: 50%;
        padding: 10px;
        margin: auto;
    }
    .mobile {
        display: flex;
        flex-direction: row;
        overflow: auto;
    }
    .texts{
        width: 80%;
    }
    .match {
        width: auto;
        margin: 0;
        margin-right: 30px;
        margin-top: 15px;
        padding: 0;

    }
    .info{
        width: 100%;
    }
    .teams {
        width: auto;
        padding: 10px;
    }
}