
.new {
    display: flex;
    flex-direction: column;
    margin: 20px auto;
    width: 90%;
    font-family: 'Poppins';
  }
  .new .category {
    position: absolute;
    color: white;
    background-color: orangered;
    padding: 5px;
    text-transform: uppercase;
    font-weight: bold;
  }
  .new .title {
    font-size: 25px;
    margin: 5px 0px;
    margin-top: 45px;
    color: rgb(5, 5, 34);
  }
  .new .sub_title{
    font-size: 17px;
  }
  .new .description{
    width: 100%;
    font-weight: 500;
    font-size: 17px;
    margin-top: 15px;
  }
  
  .new .date {
    margin-top: 10px;
    padding: 20px 0;
    border-top: 1px solid rgb(0, 0, 0, .2);
    border-bottom: 1px solid rgb(0, 0, 0, .2);
  }
  
  .new img {
    width: 100%;
    height: 250px;
    margin: 15px 0;
  }
  
  .more_news{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90%;
    margin: 30px auto;
    margin-top: 50px;
  }
  .more_news h1 {
    color: rgb(5, 5, 34);
    font-family: 'Poppins';
    font-size: 20px;
    text-transform: uppercase;
    border-bottom: 2px solid orangered;
  }
  .new_more {
    width: 100%;
    margin: 10px auto;
    display: inline-block;
    position: relative;
    cursor: pointer;
  }
  .new_more img{
    width: 100%;
    height: 250px;
  }
  
  .info_new {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    font-family: 'Poppins';
    font-weight: 600;
    color: white;
  }
  .info_new .category_new {
    position: absolute;
    bottom: 100%;
    text-align: center;
    padding: 5px 8px;
    background-color: orangered;
    font-size: 13px;
    text-transform: uppercase;
  }
  .info_new .title {
    background-color:  rgb(5, 5, 34);
    padding: 10px;
    font-size: 17px;
    cursor: pointer;
  }
  
  @media screen and (min-width:550px){
    .new img {
      height: 300px;
    }
  }
  
  @media screen and (min-width:630px){
    .new {
      margin: 30px 30px;
      width: 90%;
    }
    .new img {
      height: 370px;
    }
  }
  @media screen and (min-width:720px){
  
    .new img {
      height: 400px;
    }
  }
  
  
  @media screen and (min-width:50em){
    .new {
      margin: 30px 70px;
      width: 70%;
    }
    .new img {
      height: 340px;
    }
    .new .title{
      font-size: 26px;
    }
    .new .sub_title{
      font-size: 19px;
    }
    .new .description{
      font-size: 19px;
    }
    .new .other_description{
      font-size: 19px;
    }
    .more_news {
      width: 70%;
      margin-left: 70px;
    }

  }
  @media screen and (min-width:60em){
  
    .new {
      margin: 30px 70px;
      width: 70%;
    }
    .new .title {
      font-size: 30px;
    }
    .new .description {
      font-size: 19px;
    }
    .new .other_description {
      font-size: 19px;
    }
    .new img {
      height: 420px;
    }
  
    .more_news {
      width: 70%;
      margin-left: 70px;
    }
  }
  @media screen and (min-width:70em){
    .structure{
      display: flex;
      width: 100%;
      margin-bottom: 40px;
    }
    .new {
      margin: 30px 70px;
      width: 65%;
    }
    .new img{
      height: 420px;
    }
  
  
    .more_news{
      width: 35%;
      margin:40px;
    }
  }
  