.more_news{
  width: 100%;
  margin: 10px auto 20px auto;
}
.category_structure{
  width: 90%;
  margin: auto;
}
.new{
  width: 100%;
  display: inline-block;
  position: relative;
  margin-bottom: 20px;
  cursor: pointer;
}
.new img {
  width: 100%;
  height: 250px;
}
.new .info_new {
  position: absolute;
  bottom: 0%;
  left: 0;
  right: 0;
  font-family: 'Poppins';
  font-weight: 600;
  color: white;
}
.info_new .category_new {
  position: absolute;
  bottom: 100%;
  margin: 0;
  padding: 5px 10px;
  text-align: center;
  background-color: orangered;
  font-size: 13px;
  text-transform: uppercase;
}
.info_new .title {
  margin: 0;
  padding: 10px;
  background-color:  rgb(5, 5, 34);
  font-size: 17px;
  cursor: pointer;
}
.info_new .title:hover{
  text-decoration: underline;
}
.text_structure {
  width: 90%;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 20px auto;
}
.title_structure {
  width: auto;
  margin: 0;
  color: rgb(5, 5, 34);
  font-family: 'Poppins';
  font-size: 21px;
  border-bottom: 2px solid orangered;
}
.more {
  width: 20%;
}
.more p {
  text-decoration: underline;
  text-align: end;
  color: rgb(5, 5, 34);
  text-transform: uppercase;
  font-family: 'Roboto';
  font-size: 13px;
  font-weight: 600;
  cursor: pointer;
}
@media screen and (min-width:520px){
  .new img {
    height: 300px;
  }
}
@media screen and (min-width:610px){
  .new img {
    height: 320px;
  }
}
@media screen and (min-width:680px){
  .new img {
    height: 340px;
  }
}
@media screen and (min-width:720px){
  .new img {
    height: 360px;
  }
}
@media screen and (min-width:760px){
  .new img {
    height: 380px;
  }
}
@media screen and (min-width:50em){
  .category_structure{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
  }
  .new img {
    height: 280px;
  }
  
}
@media screen and (min-width:70em){
  .category_structure{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
  }
}
