
body {
    width: 100%;
    background-color: rgb(5, 5, 34);
    
}

.structure{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.init {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 25px;
}
.init h1 {
    color: white;
    text-align: center;
    font-family: 'Poppins';
    font-size: 24px;
    margin-top: 0px;
}
.reglas {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: auto;
    margin-top: 20px;
    padding: 20px;
    color: white;
    border-radius: 10px;
}
.reglas p {
    width: 100%;
    font-family: 'Poppins';
    font-size: 17px;
    margin-bottom: 10px;
}
.error{
    display: none;
    flex-direction: column;
    color: white;
    text-align: center;
    margin: auto;
    font-family: 'Poppins';
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 15px;
    width: 85%;
}
.button_play {
    width: 100px;
    padding: 15px;
    border: none;
    margin: auto;
    margin-top: 40px;
    font-family: 'Roboto';
    font-size: 15px;
    border-radius: 10px;
}

/* GAME */
.game {
    width: 370px;
    margin: auto;
    display: none;
    flex-direction: column;
}

.time {
    display: flex;
    justify-content: flex-end;
    text-align: right;
    width: 84%;
    margin: 10px auto;
}
.counter {
    color: white;
    font-size: 20px;
    border-radius: 100%;
    background-color: orangered;
    padding: 10px 16px;
}
.game .question {
    display: flex;
    width: 80%;
    background-color: white;
    color: rgb(5, 5, 34);
    padding: 30px 10px;
    text-align: center;
    margin: auto;
    font-family: 'Poppins';
    font-size: 18px;
}

.game .answers {
    display: flex;
    flex-direction: column;
    width: 80%;
    color: rgb(5, 5, 34);
    text-align: center;
    margin: 15px auto;
    font-family: 'Poppins';
    font-size: 16px;
    cursor: pointer;
}
.answers p {
    background-color: white;
    margin: 10px 0;
    padding: 10px;
}

.answer_true, .answer_false {
    display: none;
    flex-direction: column;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
.true_texts{
    background-color: green;
}
.false_texts{
    background-color: darkred;
}
.true_texts, .false_texts {
    display: flex;
    flex-direction: column;
    margin: auto;
    color: white;
    font-family: 'Poppins';
    border-radius: 10px;
    padding: 20px;
}
.true_texts p, .false_texts p {
    margin-bottom: 15px;
    font-size: 20px;
    text-align: center;
}
.true_texts button, .false_texts button {
    width: 50%;
    margin: auto;
    padding: 5px;
    border: none;
}
.true_texts button a, .false_texts button a {
    list-style: none;
    text-decoration: none;
    color: black;
    font-family: 'Poppins';
}

@media screen and (min-width: 832px){
    .structure{
        width: auto;
        margin-left: 10%;
        justify-content: center;
        height: 100vh;
    }
}