{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/newsCategoryy.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
</head>
<body>
    {% include 'header.html' %}

    <div class="more_news category">
        <div class="text_structure">
          <h1 class="title_structure">Noticias sobre {{category}}</h1>
        </div>
        <div class="category_structure">
            {% for new in listNews %}
          <div class="new" id="{{new.id}}">
            <img src="{{new.image}}">
            <div class="info_new">
              <p class="category_new">{{new.category}}</p>
              <p class="title">{{new.title}}</p>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
</body>
</html>

<script src="{% static 'js/home.js' %}"></script>
