{% load static %}
<head>
    <link rel="stylesheet" href="{% static 'css/headerr.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
  </head>
  
<header class="header_mobile">
    <a href="/" class="logo"><img src='{% static "images/logo.png" %}' ></a>
  
    <div class="header">
      <li class="item_list"><a href="/">
        <span class="material-symbols-outlined">
        home
        </span></a></li>
      <li class="item_list"><a href="/partidos">
        <span class="material-symbols-outlined">
          sports_soccer
        </span>
      </a></li>
      <li class="item_list"><a href="/posiciones">
        <span class="material-symbols-outlined">
          trending_up
        </span>
      </a></li>
      <li class="item_list"><a href="/quiz">
        <span class="material-symbols-outlined">
          stadia_controller
        </span>
      </a></li>
    </div>
</header>
  
<header class="header_web">
    <!--<a href="/"><img src='{% static "images/logo.png" %}' ></a>-->
    <div class="options">
      <ul class="list">
        <li class="item_list"><a href="/">
          <span class="material-symbols-outlined">
          home
          </span></a></li>
        <li class="item_list"><a href="/partidos">
          <span class="material-symbols-outlined">
            sports_soccer
          </span>
        </a></li>
        <li class="item_list"><a href="/posiciones">
          <span class="material-symbols-outlined">
            trending_up
          </span>
        </a></li>
        <li class="item_list"><a href="/quiz">
          <span class="material-symbols-outlined">
            stadia_controller
          </span>
        </a></li>
        <!--
        <li class="item_list"><a href="/">Inicio</a></li>
        <li class="item_list"><a href="/partidos">Partidos</a></li>
        <li class="item_list"><a href="/posiciones">Posiciones</a></li>
        <li class="item_list"><a href="/quiz">Quiz</a></li>
        -->
      </ul>
    </div>
</header>
  
<script src="{% static 'js/headerr.js' %}"></script>