{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="{% static 'css/newDetaillll.css' %}">
</head>
<body>
    {% include 'header.html' %}

    <div class="structure">
        <div class="new">
          <p class="category">{{new.category}}</p>
          <h1 class="title">{{new.title}}</h1>
          <p class="sub_title">{{new.sub_title}}</p>
          <p class="date">{{new.date|date:"d/m/Y H:i"}}</p>
          <p class="description">{{new.description}}</p>
          <img src="{{new.image}}" alt="">
          <p class="other_description">{{new.other_description}}</p>
        </div>
        <div class="more_news">
          <h1>Otras noticias</h1>
          <div class="news_more">
            {% for new in listNewsCategory|slice:"0:2" %}
            <div class="new_more" id="{{new.id}}">
                <img src="{{new.image}}" alt="">
                <div class="info_new">
                  <p class="category_new">{{new.category}}</p>
                  <p class="title">{{new.title}}</p>
                </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>      
</body>
</html>

<script src="{% static 'js/newDetail.js' %}"></script>
