{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/positions.css' %}">
</head>
<body>
    {% include 'header.html' %}

    <div class="mobile">
        <div class="filter">
            <select class="tournaments">
                <option><p>Liga Profesional Argentina</p></option>
            </select>
        </div>

        <div class="tables_liga_profesional">
            <div class="table liga_profesional">
                <h3 class="tournament">Liga Profesional</h3>
                <table>
                    <thead class="options">
                      <tr>
                        <th><p>#</p></th>
                        <th><p class="teams">Equipo</p></th>
                        <th><p>Pts</p></th>
                        <th><p>PJ</p></th>
                        <th><p>PG</p></th>
                        <th><p>PE</p></th>
                        <th><p>PP</p></th>
                        <th><p>GA</p></th>
                        <th><p>GC</p></th>
                        <th><p>Dif</p></th>
                      </tr>
                    </thead>
                    <tbody class="result">
                      {% for el in positionLigaProfesional %}
                      <tr>
                        {% if forloop.counter == 1 %}
                        <td style="background-color: green; color: white;">{{forloop.counter}}</td>
                        {% else %}
                        <td>{{forloop.counter}}</td>
                        {% endif %}
                        
                        <td class="team"><img src="{{el.image_team}}"> {{el.team}}</td>
                        <td>{{el.puntos}}</td>
                        <td>{{el.jugados}}</td>
                        <td>{{el.ganados}}</td>
                        <td>{{el.empatados}}</td>
                        <td>{{el.perdidos}}</td>
                        <td>{{el.goles_favor}}</td>
                        <td>{{el.goles_encontra}}</td>
                        <td>{{el.diferencia}}</td>
                      </tr>
                      {% endfor %}
                    </tbody>
                </table>
            </div> 
            <div class="table liga_profesional">
                <table>
                    <h3 class="tournament">Tabla Anual</h3>
                    <thead class="options">
                      <tr>
                        <th><p>#</p></th>
                        <th><p class="teams">Equipo</p></th>
                        <th><p>Pts</p></th>
                        <th><p>PJ</p></th>
                        <th><p>PG</p></th>
                        <th><p>PE</p></th>
                        <th><p>PP</p></th>
                        <th><p>GA</p></th>
                        <th><p>GC</p></th>
                        <th><p>Dif</p></th>
                      </tr>
                    </thead>
                    <tbody class="result">
                      {% for el in positionLigaProfesional %}
                      <tr>
                        {% if forloop.counter < 4 %}
                        <td style="background-color: green; color: white;">{{forloop.counter}}</td>
                        {% elif forloop.counter < 10 %}
                        <td style="background-color: yellow;">{{forloop.counter}}</td>
                        {% else %}
                        <td>{{forloop.counter}}</td>
                        {% endif %}
                        <td class="team"><img src="{{el.image_team}}"> {{el.team}}</td>
                        <td>{{el.puntos}}</td>
                        <td>{{el.jugados}}</td>
                        <td>{{el.ganados}}</td>
                        <td>{{el.empatados}}</td>
                        <td>{{el.perdidos}}</td>
                        <td>{{el.goles_favor}}</td>
                        <td>{{el.goles_encontra}}</td>
                        <td>{{el.diferencia}}</td>
                      </tr>
                      {% endfor %}
                    </tbody>
                </table>
            </div>   
        </div>
        
    </div>
</body>
</html>